.action__buttons {
  margin-bottom: 3rem;
  margin-top: 1.8rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\00BB";
}

.footer {
  height: 20rem;
  margin-top: 5rem;
  position: relative;
  width: 100%;
  
  &__image-container {
    background-image: linear-gradient(
      to bottom,
      $color-white 0%,
      rgba($color-white, 0.9) 10%,
      rgba($color-white, 0.7) 20%,
      transparent 50%),
      url("/images/magic.jpeg");
    background-size: 100%;
    bottom: 0;
    height: 20rem;
    left: 0;
    position: fixed;
    object-fit: cover;
    width: 100%;
  }
}

.header {
  background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
  border-radius: 0;

  &__lead {
    color: $color-white;
    font-size: 1.4rem;
    margin-top: 1.4rem;
    text-align: center;
  }

  &__logo {
    height: 3.5rem;
    margin-bottom: 1rem;
    margin-right: .8rem;
    width: 3.5rem;
  }
}

.nav ol {
  background-color: $color-white;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  padding: 0;
}