$color-primary: #3866f2;
$color-primary-light: #5e84f4;
$color-primary-dark: #164ced;

$color-secondary: #ff8c22;
$color-secondary-light: #ffa34e;
$color-secondary-dark: #ff7a00;

$color-tertiary: #ffdd22;
$color-tertiary-light: #ffe34e;
$color-tertiary-dark: #ffd700;

$color-black: #313639;
$color-offwhite: #eae9e3;
$color-white: #fff;

$text-color-dark: #313639;
$text-color-light: #fff;

$title-font: "Magistral";
$body-font: "open sans";

